<launch>
	<!-- Overall parameters -->
	<param name="vegebot/simulation" value="false" />
	<param name="/move_group/trajectory_execution/allowed_start_tolerance" value="0.0" />

<!--
	<node pkg="vegebot_commander" name="vegebot_commander" type="vegebot_commander">
	</node>
-->
	<node pkg="lettuce_test" name="test" type="test" output="screen">
	</node>


	<node pkg="lettuce_detect" name="lettuce_detector" type="lettuce_detector">
	</node>

	<node pkg="lettuce_sampler" name="lettuce_sampler" type="lettuce_sampler">
	</node>

	<!-- UI infrastructure -->

	<node pkg="vegebot_webserver" name="vegebot_webserver" type="vegebot_webserver.sh">	
	</node>
	<node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false" />
	</node>
	<node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher">
	</node>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
	</include>
		<node pkg="web_video_server" name="web_video_server" type="web_video_server">
	</node>  

	<!-- UR10 Robot Arm -->
	<include file="$(find vegebot_run)/launch/vegebot_bringup.launch">
		<arg name="limited" value="false" />
		<arg name="robot_ip" value="192.168.2.5" />
		
	</include>

	<include file="$(find vegebot_run)/launch/vegebot_moveit_planning_execution.launch">
		<arg name="sim" value="false" />
		<arg name="limited" value="false" />
	</include>

	<!-- USB Camera -->

<!--
	<include file="$(find usb_cam)/launch/usb_cam-test.launch">
	</include>
-->
  <group ns="camera1">

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="camera_name" value="overhead_camera"/>
      <param name="camera_info_url" value="package://vegebot_run/config/overhead_camera.yaml" />      
      <param name="video_device" value="/dev/video1" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
    <!--
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
      <remap from="image" to="/camera1/usb_cam/image_raw"/>
      <param name="autosize" value="true" />
    </node>
	-->
  </group>


  <group ns="camera2">

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="camera_name" value="hand_camera"/>
      <param name="camera_info_url" value="package://vegebot_run/config/hand_camera.yaml" />      
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="320" />
      <param name="image_height" value="240" />
      <param name="framerate" value="20" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
    <!--
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
      <remap from="image" to="/camera2/usb_cam/image_raw"/>
      <param name="autosize" value="true" />
    </node>
-->

  </group>
<!--
	<node pkg="image_view" name="raw_lettuce" type="image_view" args="image:=/vegebot/lettuce_video/raw_images" />
-->	
	<node pkg="image_view" name="annotated_lettuce" type="image_view" args="image:=/vegebot/lettuce_hypotheses/annotated_images" />
<!--
	<include file="$(find ur10_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true" />
	</include>
-->
ve
</launch>