<launch>
	<!-- Overall parameters -->
	<param name="/move_group/trajectory_execution/allowed_start_tolerance" value="0.0" />
 
	<node pkg="vegebot_commander" name="vegebot_commander" type="vegebot_commander" output="screen">
	</node>

	<node pkg="lettuce_test" name="test" type="test">
	</node>

	<!-- UI infrastructure -->

	<node pkg="vegebot_webserver" name="vegebot_webserver" type="vegebot_webserver.sh">	
	</node>
	<node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false" />
	</node>
	<node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher">
	</node>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
	</include>

	<!-- UR10 Robot Arm -->
	<include file="$(find vegebot_run)/launch/vegebot_ur10.launch">
		<arg name="limited" value="false" />
		<arg name="headless" value="true" />
		<arg name="gui" value="false" />
	</include>
	<include file="$(find vegebot_run)/launch/vegebot_moveit_planning_execution.launch">
		<arg name="sim" value="true" />
		<arg name="limited" value="false" />
	</include>

<!--
	<include file="$(find ur10_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" value="true" />
	</include>
-->

</launch>