<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find vegebot_run)/urdf/vegebot.urdf.xacro'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find vegebot_run)/urdf/vegebot_limited.urdf.xacro'" />
</launch>
