<launch>
	
	<node pkg="vegebot_commander" name="vegebot_commander" type="vegebot_commander">
	</node>

	<!-- UI infrastructure -->

	<node pkg="vegebot_webserver" name="vegebot_webserver" type="vegebot_webserver.sh">	
	</node>
	<node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="true" />
	</node>
	<node pkg="tf2_web_republisher" name="tf2_web_republisher" type="tf2_web_republisher">
	</node>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
	</include>

</launch>